<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>letsmakegame | Terms and Conditions</title>
    <meta name="description" content="letsmakegame | Terms and Conditions">
    <link rel="canonical" href="https://letsmakegame.com/terms-and-conditions" />
    <%- include('../partials/head.ejs'); %>
        <%- include('../partials/css.ejs'); %>
</head>


<body>
    <%- include('../partials/header_nav.ejs'); %>

        <div class="area">


            <!--meaning output section-->
            <div class="main">


                <div class="othersite outputs">
                    <h2>Terms and Conditions</h2>

                    <p>Terms and Conditions of letsmakegame.com</p>
                    <br>
                    <p>
                        Below are the Terms and Conditions for use of <a href="https://letsmakegame.com">letsmakegame.com</a>
                        .</p><br>
                    <p>
                        Please read these carefully. If you need to contact us regarding any aspect of the following
                        terms of use of our website, please contact us at tanvir.ahmod@gmail.com</p><br>
                    <p>
                        By accessing the content of letsmakegame ( hereafter referred to as a website ) you agree to the
                        terms and conditions set out herein and also accept our privacy policy. If you do not agree to
                        any of the terms and conditions you should not continue to use the website and leave
                        immediately.</p><br>

                    <p>You agree that you shall not use the website for any illegal purposes and that you will respect
                        all applicable laws and regulations.</p><br>
                    <p>
                        You agree not to use letsmakegame website in a way that may impair the performance, corrupt or
                        manipulate the content or information available on the website or reduce the overall
                        functionality of this website.</p><br>
                    <p>
                        You agree not to compromise the security of the website or attempt to gain access to secured
                        areas of the website or attempt to access any sensitive information you may believe exist on the
                        website or server where it is hosted.</p><br>
                    <p>
                        You agree to be fully responsible for any claim, expense, losses, liability, costs including
                        legal fees incurred by us arising from any infringement of the terms and conditions in this
                        agreement and to which you will have agreed if you continue to use the website.</p><br>
                    <p>
                        The reproduction, distribution in any method whether online or offline is strictly not
                        prohibited. The work on the website and the images, logos, text and other such information is
                        not the property of <a href="https://letsmakegame.com">letsmakegame.com</a>
                        ( unless otherwise stated ).</p><br>
                    <br>
                    
                    <p>
                        Last Revised: 05-03-2024</p>

                </div>



                <!-- Bonous Section -->



                <!-- below main dev ends -->
            </div>


            <aside>

            </aside>




            <%- include('../partials/footer.ejs'); %>




        </div>


        <script type="text/javascript">
            function toggle() {
                var test = document.getElementById("navbar");
                if (test.className == "hidden") {
                    test.className = "show";
                } else {
                    test.className = "hidden";
                }
            }

        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
</body>

</html>