<footer>
    <div class="footer-box">
        <div>Follow Us</div>
        <ul>
            <li><a href="https://www.facebook.com/tanvir.webdev">Facebook</a></li>
        </ul>
    </div>
    <div class="footer-box">
        <div>Other Links</div>
        <ul>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
            <li><a href="/disclaimer">Disclaimer</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/sitemap.xml">Sitemap</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>All Right Reserve By <a href="https://letsmakegame.com">LetsMakeGame</a></p>
    </div>
</footer>
