<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Let's Make Game | a solo game developer and programmer's journey and tips.</title>
    <meta name="description" content="I'm Tanvir and i will share my game-development and programming knowledge here.">
    <link rel="canonical" href="https://letsmakegame.com" />
    <%- include('./partials/head.ejs'); %>
    <%- include('./partials/css.ejs'); %>
</head>


<body>
    <%- include('partials/header_nav.ejs'); %>

        <div class="area">
            <div class="word-search">
                <div class="home-page-header-title">
                    Let's Make Game
                </div>
                <form method="get" action="">
                    <label>
                        <input type="text" name="query" id="query" placeholder="Search">
                    </label>
                    <button>Search</button>
                </form>
            </div>


            <!--meaning output section-->
            <div class="main">

                <div class="othersite outputs">
                    <h2>Let's Make Game | a solo game developer and programmer's journey and tips.</h2>
                    <p>This website is all about game development, where I will share my new project ideas, tips, and tricks about game development and solutions for many common errors.</p><p>It doesn't matter which game engine you use to create games, whether it is Unity, Godot, or Unreal Engine and other game development tools, or what programming language you use to develop games. Here, I will support every kind of game developer.</p><p>As a solo and indie game developer, I'm glad that I can share my knowledge about game development.</p>

                        <br>
                    <p>Some Resources in below links
                    <p><a href="/category/godot" class="active one">Godot</a><br>
                        <a href="/category/unity" class="active two">Unity</a><br>
                    <p>If you are on a mission to make a full-time income as an indie game developer, then I can say you are on the right path, and I'm here to help you.</p>

                </div>

                <!-- below main dev ends -->
            </div>


            <aside>
                <div class="box">
                    <div class="head">
                        <h3>Tags</h3>
                    </div>
                    <div class="content">
                        <ul>
                            <li> <a href="/tag/2d?page=1">2d</a> </li>
                            <li> <a href="/tag/godot4?page=1">Godot 4.x</a> </li>
                            <li> <a href="/tag/gdscript?page=1">GDScript</a> </li>
                         </ul>
                    </div>
                </div>
            </aside>




            <%- include('partials/footer.ejs'); %>




        </div>


        <script type="text/javascript">
            function toggle() {
                var test = document.getElementById("navbar");
                if (test.className == "hidden") {
                    test.className = "show";
                } else {
                    test.className = "hidden";
                }
            }

        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
</body>

</html>